{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

  {% set homeEntry = entry %}

  {% set homeImage = homeEntry.backgroundImage.one() %}
  {% css %}
    #hero {
      background: url("{{ homeImage.url }}") repeat scroll center center/cover;
    }
  {% endcss %}

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">
    <div class="container">
      <div class="hero-content">
        <h1>{{ homeEntry.text }} <span class="typed" data-typed-items="{{ homeEntry.mobileText }}"></span></h1>
        <p>{{ homeEntry.subText }}</p>

        {% if homeEntry.socialNetwork %}
          <ul class="list-unstyled list-social">
          {% for item in homeEntry.socialNetwork %}
            <li>
              <a href="{{ item.link }}" target="_blank">
                <i class="bi bi-{{ item.name }}"></i>
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->

    {% set descriptionImage = homeEntry.descriptionImage.one() %}
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            {% if descriptionImage %}
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="{{ descriptionImage.url }}" class="img-responsive" alt="{{ descriptionImage.title }}">
                </div>
              </div>
            {% endif %}
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">{{ homeEntry.descriptionText1 }}</p>
              <p class="separator">{{ homeEntry.descriptionText2 }}</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    {% set services = homeEntry.list %}
    {% if services %}
      <div id="services">
        <div class="container">

          <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

            {% for item in services %}
              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-{{ item.iconName }}"></i>
                  <span>{{ item.title }}</span>
                  <p class="separator">{{ item.text }}</p>
                </div>
              </div>
            {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div><!-- End Services Section -->
    {% endif %}

    <!-- ======= Portfolio Section ======= -->
    {% set portfolioProjects = craft.entries().section('portfolio').all() %}
    {% if portfolioProjects|length > 0 %}

      <div id="portfolio" class="paddsection">

        <div class="container">
          <div class="section-title text-center">
            <h2>My Portfolio</h2>
          </div>
        </div>

        <div class="container">

          {% set activityCategories = craft.categories().group('activity') %}

          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                {% for cat in activityCategories.all() %}
                  <li data-filter=".filter-{{ cat.slug }}">{{ cat.title }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            {% for project in portfolioProjects %}
              {% set category = project.activity.one() %}
              {% set projectImage = project.uniqueImage.one() %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category.slug }}">
                <img src="{{ projectImage.url }}" class="img-fluid" alt="{{ projectImage.title }}">
                <a href="{{ project.url }}" title="More Details" class="stretched-link">
                  <div class="portfolio-info">
                    <h4>{{ project.projectTitle }}</h4>
                    <p>{{ project.subText }}</p>
                    {# <a href="{{ projectImage.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ project.title }}"><i class="bx bx-plus"></i></a> #}
                    {# <a href="{{ project.url }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a> #}
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>
    {% endif %}
    <!-- End Portfolio Section -->

    <!-- ======= Blog Section ======= -->
    {% set blogArticles = craft.entries().section('blog').all() %}
    {% if blogArticles|length > 0 %}
      <div id="blog" class="text-left paddsection">

        <div class="container">
          <div class="section-title text-center">
            <h2>Blog</h2>
          </div>
        </div>

        <div class="container">
          <div class="journal-block">
            <div class="row">

              {% for article in blogArticles %}
                {% set articleImage = article.uniqueImage.one() %}
                <div class="col-lg-4 col-md-6">
                  <div class="journal-info">
                    <a href="{{ article.url }}">
                      <img src="{{ articleImage.url }}" class="img-responsive" alt="{{ article.title }}">
                    </a>
                    <div class="journal-txt">
                      <h4><a href="{{ article.url }}">{{ article.title|upper }}</a></h4>
                      <p class="separator">{{ article.text }}
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>

      </div>
    {% endif %}
    <!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">{{ contact.contactTitle|upper }}</h2>
                <p>{{ contact.contactText }}</p>

                {% if contact.socialNetwork %}
                  <ul class="list-unstyled list-social">
                  {% for item in contact.socialNetwork %}
                    <li>
                      <a href="{{ item.link }}" target="_blank">
                        <i class="bi bi-{{ item.name }}"></i>
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}

                {% set address = contact.address.one() %}
                {% if address %}
                  <h2 class="mb-30">{{ address.title|upper }}</h2>

                  <ul class="contact-details">
                    <li><span>{{ address.addressLine1 }}</span></li>
                    <li><span>{{ address.addressLine2 }}</span></li>
                    <li><span>{{ address.postalCode ~ ' ' ~ address.locality }}</span></li>
                    <br>
                  </ul>
                {% endif %}

                <ul class="contact-details">
                  <li><span>{{ contact.email }}</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">


              {% macro errorList(errors) %}
                  {% if errors %}
                      {{ ul(errors, {class: 'errors'}) }}
                  {% endif %}
              {% endmacro %}

              {% set submission = submission ?? null %}

              <p class="form-message"></p>

              <form method="post" action="" role="form" accept-charset="UTF-8" id="my-contact-form">
                {{ csrfInput() }}
                {{ actionInput('contact-form/send') }}
                {{ redirectInput('?from={fromName}') }}

                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      {{ input('text', 'fromName', submission.fromName ?? '', {
                          id: 'name',
                          autocomplete: 'name',
                          placeholder: 'Nom',
                          class: 'form-control',
                      }) }}
                      {{ submission ? _self.errorList(submission.getErrors('fromName')) }}
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                          id: 'email',
                          autocomplete: 'email',
                          placeholder: 'Email',
                          class: 'form-control',
                      }) }}
                      {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      {{ input('text', 'subject', submission.subject ?? '', {
                          id: 'subject',
                          placeholder: 'Objet',
                          class: 'form-control',
                      }) }}
                      {{ submission ? _self.errorList(submission.getErrors('subject')) }}
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      {{ tag('textarea', {
                          text: submission.message ?? '',
                          id: 'message',
                          name: 'message',
                          rows: 10,
                          cols: 40,
                          placeholder: 'Message',
                          class: 'form-control',
                      }) }}
                      {{ submission ? _self.errorList(submission.getErrors('message')) }}
                    </div>
                  </div>

                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Envoyer">
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
