{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "layouts/site" %}

{% block inline_css %}
    {{ source ("_/#{entry.type.handle}-critical.min.css", ignore_missing = true) }}
{% endblock %}

{% block content %}

  {% set homeEntry = entry %}

  {% set homeImage = homeEntry.backgroundImage.one() %}
  {% css %}
    #hero {
      background: url("{{ homeImage.url }}") repeat scroll center center/cover;
    }
  {% endcss %}

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">
    <div class="container">
      <div class="hero-content">
        <h1>{{ homeEntry.text }} <span class="typed" data-typed-items="{{ homeEntry.mobileText }}"></span></h1>
        <p>{{ homeEntry.subText }}</p>

        {% if homeEntry.socialNetwork %}
          <ul class="list-unstyled list-social">
          {% for item in homeEntry.socialNetwork %}
            <li>
              <a href="{{ item.link }}" target="_blank">
                <i class="bi bi-{{ item.name }}"></i>
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->

    {% set descriptionImage = homeEntry.descriptionImage.one() %}
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            {% if descriptionImage %}
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="{{ descriptionImage.url }}" class="img-responsive" alt="{{ descriptionImage.title }}">
                </div>
              </div>
            {% endif %}
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">{{ homeEntry.descriptionText1 }}</p>
              <p class="separator">{{ homeEntry.descriptionText2 }}</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    {% set services = homeEntry.list %}
    {% if services %}
      <div id="services">
        <div class="container">

          <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

            {% for item in services %}
              <div class="swiper-slide">
                <div class="services-block">
                  <i class="bi bi-{{ item.iconName }}"></i>
                  <span>{{ item.title }}</span>
                  <p class="separator">{{ item.text }}</p>
                </div>
              </div>
            {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div><!-- End Services Section -->
    {% endif %}

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>My Portfolio</h2>
        </div>
      </div>

      <div class="container">

        {% set activityCategories = craft.categories().group('activity') %}

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for cat in activityCategories.all() %}
                <li data-filter=".filter-{{ cat.slug }}">{{ cat.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% set portfolioProjects = craft.entries().section('portfolio').all() %}

        <div class="row portfolio-container">
          {% for project in portfolioProjects %}
            {% set category = project.activity.one() %}
            {% set projectImage = project.uniqueImage.one() %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category.slug }}">
              <img src="{{ projectImage.url }}" class="img-fluid" alt="{{ projectImage.title }}">
              <div class="portfolio-info">
                <h4>{{ project.projectTitle }}</h4>
                <p>{{ project.subText }}</p>
                <a href="{{ projectImage.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ project.title }}"><i class="bx bx-plus"></i></a>
                <a href="{{ project.url }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>  
          {% endfor %}
        </div>

      </div>

    </div><!-- End Portfolio Section -->

    <!-- ======= Journal Section ======= -->
    <div id="blog" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Blog</h2>
        </div>
      </div>

      {% set blogArticles = craft.entries().section('blog').all() %}
      <div class="container">
        <div class="journal-block">
          <div class="row">

            {% for article in blogArticles %}
              {% set articleImage = article.uniqueImage.one() %}
              <div class="col-lg-4 col-md-6">
                <div class="journal-info">
                  <a href="{{ article.url }}">
                    <img src="{{ articleImage.url }}" class="img-responsive" alt="{{ article.title }}">
                  </a>
                  <div class="journal-txt">
                    <h4><a href="{{ article.url }}">{{ article.title|upper }}</a></h4>
                    <p class="separator">{{ article.text }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                {% set address = contact.address.one() %}
                <h2 class="mb-30">{{ address.title|upper }}</h2>

                <ul class="contact-details">
                  <li><span>{{ address.addressLine1 }}</span></li>
                  <li><span>{{ address.addressLine2 }}</span></li>
                  <li><span>{{ address.postalCode ~ ' ' ~ address.locality }}</span></li>
                  <br>
                  <li><span>{{ contact.email }}</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">


              {% macro errorList(errors) %}
                  {% if errors %}
                      {{ ul(errors, {class: 'errors'}) }}
                  {% endif %}
              {% endmacro %}

              {% set submission = submission ?? null %}
              {% if submission %}
                <p>Thanks for sending that in, {{ craft.app.request.getQueryParam('from') }}!</p>
              {% endif %}
              {{ craft.app.request.getQueryParam('from') }}

              <form method="post" action="" accept-charset="UTF-8">
                  {{ csrfInput() }}
                  {{ actionInput('contact-form/send') }}
                  {{ redirectInput('?from={fromName}') }}

                  <h3><label for="from-name">Your Name</label></h3>
                  {{ input('text', 'fromName', submission.fromName ?? '', {
                      id: 'from-name',
                      autocomplete: 'name',
                  }) }}
                  {{ submission ? _self.errorList(submission.getErrors('fromName')) }}

                  <h3><label for="from-email">Your Email</label></h3>
                  {{ input('email', 'fromEmail', submission.fromEmail ?? '', {
                      id: 'from-email',
                      autocomplete: 'email',
                  }) }}
                  {{ submission ? _self.errorList(submission.getErrors('fromEmail')) }}

                  <h3><label for="subject">Subject</label></h3>
                  {{ input('text', 'subject', submission.subject ?? '', {
                      id: 'subject',
                  }) }}
                  {{ submission ? _self.errorList(submission.getErrors('subject')) }}

                  <h3><label for="message">Message</label></h3>
                  {{ tag('textarea', {
                      text: submission.message ?? '',
                      id: 'message',
                      name: 'message',
                      rows: 10,
                      cols: 40,
                  }) }}
                  {{ submission ? _self.errorList(submission.getErrors('message')) }}

                  <button type="submit">Send</button>
              </form>




{# 

              <form action="contact-form/send" method="post" role="form" class="php-email-form" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('contact-form/send') }}
                {{ redirectInput('contact/thanks') }}

                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="fromName" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="fromEmail" id="email" placeholder="Your Email" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="fromMessage" placeholder="Message" required></textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>

                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                  </div>

                </div>
              </form> #}
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
